*{
  box-sizing: border-box; 
}

.gridContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
}

.node {
  height: 10px;
  width: 10px;
}